
@{
    ViewBag.Title = "Index";
}

<h2>Product Index</h2>

<body ng-app="app" class="container">
    <label>Search: <input ng-model="searchText"></label>
    <table id="searchTextResults">
        <div ng-controller="product_controller">
            <table class="table" ng-init="initData() | filter:searchText">
                <tr ng-repeat="r in data">
                    <td>{{ r.Name }}</td>
                    <td>{{ r.Code }}</td>

                </tr>
            </table>
        </div>
</body>



<script src="scripts/angular.min.js"></script>
  <script src="scripts/angular.js"></script>
<script src="scripts/angular-mock.js"></script>





